@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Nunito:700|Raleway&display=swap');

$font-family-sans-serif:  "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$headings-font-family:  "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headings-font-weight: 700;

// colors

$projectPrimary: #6c4fa3;
$projectAccent: #6d74d8;
$deepDark: #303030;
$white: #fff;

$theme-colors: (
    "primary": $projectPrimary,
    "accent": $projectAccent,
    "dark": $deepDark
);

$navbar-dark-color: rgba($white, .8) !default;
$navbar-dark-hover-color: rgba($white, 1) !default;
$navbar-dark-toggler-icon-bg: url("/img/bars.svg") !default;
$navbar-dark-toggler-border-color: rgba($white, 0) !default;
$body-bg: rgb(248, 248, 248);